* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #564668, #4b0082);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.navLinks li a {
  background: rgb(139, 9, 139);
  padding: 8px;
  border-radius: 20px;
}

.profile-card {
  background: #231325;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.time {
  background-color: #250b38;
  padding: 8px;
  border: 1px solid black;
  border-radius: 20px;
}
h3 {
  background: linear-gradient(to bottom right, #ba96e2, #1a002c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

h2 {
  color: white;
  font-size: 40px;
}
p {
  color: white;
}
figure {
  margin: 0;
  align-self: center;
}

img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

ul {
  display: grid;
  grid-template-columns: 100px, 100px;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
  justify-content: center;
}
li {
  margin-top: 4px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-right: 8px;
}

a:focus,
a:hover {
  text-decoration: underline;
  color: lightblue;
}

@media (min-width: 768px) {
  .profile-card {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    max-width: 900px;
    padding: 3.5rem;
  }

  figure {
    flex-shrink: 0;
  }
  ul {
    flex-direction: column;
  }
  section {
    flex: 1;
  }
}
